body {
    display: flex; 
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0; 
    padding: 0;
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 50px;
}

.second-head {
    display: flex;
    flex-direction: row;
    gap: 10px; 
}

.two {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 200px;
    flex-wrap: wrap;
}

.img {
    width: 400px;
}

.Awesome{
    font-size
    width: 300px;
}
.text {
    width: 400px;
}
button {
    width: 100px;
}

.Awesome, .text, .button {
    display: flex;
    flex-wrap: wrap;
}

.items {
    display: flex;
    flex-direction: column;
}

.p {
    text-align: center;
    padding: 20px; 
}
img { 
    height: auto;
    width: 150px; 
    border-radius: 20px;
}

.pics{
    display: flex;
    flex-direction: row;
    gap: 100px;
    flex-wrap: wrap;
}

.pic1, .pic2, .pic3, .pic4 {
    display: flex;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100px;
    gap: 10px; 
    
}

.quote {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 700px;
    padding: 50px;
}
.sign {
    text-align: right;
}

.call {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 70px; 
}

.stack { 
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

footer {
    display: flex;
    padding: 50px;
}