body {
    display: flex; 
    flex-direction: column;
    align-items: center;
    margin: 0; 
    padding: 0;
}
.container {
    background-color: #1f2937;
    color: #f9faf8; 
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 50px;
}

.name {
    font-weight: bold;
}

.Awesome {
    font-size: 48px;
    font-weight: bold;
}

.second-head {
    display: flex;
    flex-direction: row;
    gap: 10px; 
}

.two {
    display: flex;
    align-items: center;
    gap: 130px;
    flex-wrap: wrap;
    margin-left: 200px;
    margin-right: 300px;
    padding-bottom: 30px;
    justify-content: space-between;
    width: 800px;
}

.img {
    width: 100px;
}

.Awesome{
    font-size: 48px;
    width: 300px;
}
.text {
    width: 400px;
    font-size: 18px;
}
button {
    width: 100px;
    background-color: #3882f6;
    color: white;
    border-radius: 10px;
    font-weight: bold;
    padding: 5px;
}

.Awesome, .text, .button {
    display: flex;
    flex-wrap: wrap;
}

.items {
    display: flex;
    flex-direction: column;
}

.p {
    text-align: center;
    padding: 20px; 
    font-size: 36px; 
    font-weight: bolder;
}
img { 
    height: auto;
    width: 150px; 
    border-radius: 20px;
}

.pics{
    display: flex;
    flex-direction: row;
    gap: 100px;
    flex-wrap: wrap;
    padding: 50px;
    padding-top: 10px;
}

.pic1, .pic2, .pic3, .pic4 {
    display: flex;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    width: 140px;
    gap: 10px;     
    font-family: Arial, Helvetica, sans-serif
    font-weight: 100;

}

.quote {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 50px;
    background-color: #e5e7eb;
    font-size: 36px;    
    font-style: italic;
    font-weight: 100;
    width:1180px;
}

.thor {
    width: 700px;
    padding-left: 200px;
}
.sign {
    font-size: 24px;
    font-weight: bold;
    text-align: right;
    padding-right: 300px;
}



.call {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 70px; 
    background-color: #3882f6;
    padding: 40px;
    border-radius: 20px;
    color: white;
    margin: 50px;
}

.action{ 
    font-size: 18px;
    font-weight: bold;
}

.stack { 
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

footer {
    display: flex;
    padding: 50px;
    background-color: #1f2937;
    justify-content: center;
    color: white;
    margin: 0; 
    width: 1180px;
}